/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>

/ {
    combos { compatible = "zmk,combos"; };

    keymap { compatible = "zmk,keymap"; };
};
