/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        querty {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E     &kp R     &kp T        &kp Y    &kp U     &kp I      &kp O    &kp P      &trans
&kp TAB    &kp A  &kp S  &kp D     &kp F     &kp G        &kp H    &kp J     &kp K      &kp L    &kp SEMI   &trans
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V     &kp B        &kp N    &kp M     &kp COMMA  &kp DOT  &kp MINUS  &trans
                         &kp LALT  &kp LGUI  &kp SPACE    &kp RET  &kp BSPC  &kp RCTRL
            >;
        };

        canary {
            bindings = <
&kp ESC    &kp W  &kp L  &kp Y   &kp P   &kp B        &kp Z      &kp F     &kp O     &kp U      &kp APOS  &trans
&kp TAB    &kp C  &kp R  &kp S   &kp T   &kp G        &kp M      &kp N     &kp E     &kp I      &kp A     &trans
&kp LSHFT  &kp Q  &kp J  &kp V   &kp D   &kp K        &kp X      &kp H     &kp FSLH  &kp COMMA  &kp DOT   &trans
                         &trans  &trans  &kp SPACE    &kp ENTER  &kp BSPC  &trans
            >;
        };

        sturdy {
            bindings = <
&kp ESC    &kp V  &kp M  &kp L   &kp C   &kp P     &kp X    &kp F   &kp O     &kp U     &kp J      &trans
&kp TAB    &kp S  &kp T  &kp R   &kp D   &kp Y     &kp DOT  &kp N   &kp A     &kp E     &kp I      &trans
&kp LSHFT  &kp Z  &kp K  &kp Q   &kp G   &kp W     &kp B    &kp H   &kp APOS  &kp SEMI  &kp COMMA  &trans
                         &trans  &trans  &trans    &trans   &trans  &trans
            >;
        };
    };
};
